header, section, article, footer, figure {
  display: block;
}

header, footer {
  border: solid 4px;
  border-color: #590212;
  text-align: center;
  max-height: 20%;
  font-family: 'Marck Script', cursive;
  font-size: 1.5em;
}

header h1 {
  font-family: 'Gloria Hallelujah', cursive;
  margin-bottom: 45px;
}

header p {
  font-size: 28px;
}

section {
  font-family: 'Marck Script', cursive;
  text-align: center;
  font-size: 1.8em;
}

section h1 {
  margin-bottom: -10px;
  color: #590212;
}

section h2 {
  color: #8C031C;
}

section h4 {
margin-top: -10px;
color: #024959;
}

article {
  width: 45%;
  display: inline-block;
  text-align: center;
}

figure img {
  border: none;
  display: block;
  width: 200px;
  position: relative;
  left: 30%;

}

footer p img {
  margin-top: -10px;
  margin-bottom: -20px;
  padding-right: 10px;
}

#logo {
  width:200px;
  margin-bottom: -50px;
}

#photoGen1:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#photoGen2:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
